
  @import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400&display=swap');
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Advent Pro', sans-serif;
      padding: 0;
      margin: 0;
   }
   ul {
    margin: 0;
    padding: 0;
   }
   li {
    list-style: none;
   }
   h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
   }
   a {
    text-decoration: none;
    color: rgb(18, 8, 165);
   }
   /* ,,,,,,,,,,,,,,,,nonnnnnr;;;;;;;;;;;; */
   nav {
    overflow: hidden;
    background-color: bisque;
    position: fixed;
    width: 100%;
    opacity: 1;
   }
   header li {
    float: right;
    font-size: 1,2em;
   }
   header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
   }
   #logo {
    font-family: 'dancing script' cursive;
    font-weight: bold;
    float: left;
   }
   /* ********************image principale*************** */
   #imageprincipale {
    padding-top: 60px;
    background: url(p4.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 800px;
   }
   h1 {
    font-family: 'dancing script' cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 110pxS;
    text-shadow: 4px 6px 2px rgb(14, 11, 7);
   }
   #premiertrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: beige;
    box-shadow: 4px 6px 2px rgb(14, 11, 7);
   }
   h3 {
    font-family: 'dancing script' cursive;
    text-align: center;
    color: rgb(190, 112, 9);
    font-size: 4em;
    margin-top: 80px;
    text-shadow: 4px 6px 2px rgb(14, 11, 7);
   }
   /* ******************presentation****************** */
   #presentation {
    background-color: blanchedalmond;
    padding: 10px 0px 100px 10px;
   }
   #texteretro {
    padding: 0px 20px;
   }
   #prestation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 10%;
   }
   .imageprestation h4 {
    font-family: 'dancing script' cursive;
    text-align: center;
    font-size: 1,8em;
    margin: 15px;
    font-weight: 300;
    color: rgb(11, 11, 100);
   }
   .imageprestation img {
    border-radius: 10px;
    box-shadow: 3px 5px 4px; color: black;
   }
   .imageprestation img:hover {
    opacity: 0.5;
    transform:scale(1.05);
    transition: 1s ease-in-out;
   }
   /* ************************tourisme***************** */
   #tourisme {
    height: 1400px;
    background-color: aquamarine;
    padding: 1px 2px;
   }
   #ocean {
    background: url(p2.jpg);
   }
   #portrait {
    background: url(p3.jpg);
   }
   #cascade {
    background: url(p1.jpg);
   }
   #plaine {
    background: url(p5.jpg);
   }
   #tourisme li {
    margin: 65px 100px 0 100px;
    height: 226px;
    width: 50%;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px;
   }
   #tourisme p {
    height: 45px;
    width: 235px;
    background-color: rgb(14, 97, 69);
    float: right;
    margin: 50px -180px 0 0;
    font-size: 1.6em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px crimson;
   }
   #tourisme #portrait, #tourisme #plaine {
    float: right;
   }
   #portrait p, #plaine p {
    float: left;
    background-color: blueviolet;
    margin-left: -180px;
    box-shadow: -4px 4px 0 1px;
   }
   /* ***********footer*********************** */
   footer {
    background-color: rgb(124, 117, 117);
    color: azure;
    padding: 20px 0 10px 0;
    text-align: center;
   }
   form {
    margin: 0 auto;
    max-width: 900px;
   }
   input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'adventpro', sans-serif;
    border-radius: 8px;
   }
   textarea {
    height: 120px;
   }
   button {
    font-size: 1.2em;
    background-color: rgb(234, 253, 253);
   }
   button:hover {
    background-color: rgb(238, 165, 165);
    color: rgb(71, 233, 79);
    cursor: pointer;
    transition: 0.4s ease-in-out;
   }
   #dexiemetrait {
    height: 1px;
    width: 75%;
    margin: 60px auto;
    background-color: beige;
    box-shadow: 4px 6px 2px rgb(14, 11, 7);
   }
   #copyrigtheticons {
    display: flex;
    padding: 0 10%;
    margin: 20px;
   }
   #copyrigth {
    width: 50%;
    text-align: left;
    color: bisque;
   }
   #icons {
    width: 80%;
    text-align: right;
   }
   #icons a {
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: blue;
   }
   #icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
   }